{%extends 'address/base.html'%} {% block content %}
<h2>{{contact.contact_last_name}}, {{contact.contact_first_name}}<a href="{% url 'contact_create' %}">(edit)</a></h2>

<!-- ONE CONTACT INFORMATION -->

<h3>Contact Information: </h3>
<div>
    Last Name: {{contact.contact_last_name}} 
<br />
    First Name: {{contact.contact_first_name}}
<br />
    Email Address: {{contact.contact_email}}
<br />
    Phone Number: {{contact.phone_number}}
<br />
    Address: {{ contact.contact_address}}
<br />
    Relation: {{contact.contact_relation}}
<br />
    Group: {{contact.contact_group}}
<br />
    Age: {{contact.contact_age}}
<br />
    Notes: {{contact.contact_notes}}
</div>
{% endblock %}
