{%extends 'address/base.html'%} {% block content %}

<h2>{{user.user_name}}<a href="{% url 'user_edit' pk=user.pk %}">(edit)</a><a href="{% url 'user_delete' pk=user.pk %}">(delete)</a></h2>
<h4>{{user.user_email}}</h4>
<h4>{{user.user_password}}</h4>


<!-- ONE USER IN USERS -->
<h3>Contacts <a href="{% url 'contact_create' %}">(+)</a></h3>

<ul>
    {% for contact in user.contacts.all %}
    <li>
        <!-- <a href="">one</a> -->
        <a href="{% url 'contact_info' pk=user.pk % }">{{contact.contact_last_name}}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}